*{
    margin: 0;
    padding: 0;
 }
 body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
 }
 
.text-primary{
 color: #FD6E0A;
}
.btn-primary{
   background-color: #FD6E0A;
   border-radius: 5px;
   border: 0;
   font-weight: 700;
   color: white;
   font-size: 20px;
   text-align: center;
  padding:  15px 35px;
}
/* header section */
.header{
background-image: url('../images/header_bg.png'),url('../images/developer.png');
background-repeat: no-repeat,no-repeat;
background-position: bottom right,bottom left;
background-color: #FFF8F3; 
background-size: 700px,90px;
padding-top: 30px;
 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px ;
}
.nav-title{
color:  #181818;
font-size: 45px;
font-weight: 800;
text-transform: capitalize;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
   margin-right: 50px;
   text-transform: capitalize;
   font-weight: 500;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.banner-content{
    max-width: 550px;
}
.banner{
    padding:30px 30px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-pic{
    width: 500px;
}
.banner-h3{
    color: #474747;
font-size: 45px;
font-weight: 600;
margin-bottom: 0 ;
}
.banner-title{
 color:#181818;
font-size: 85px;
font-weight: 700;
margin-top: 5px;
}
.banner-p{
color: #757575;
font-size: 16px;
font-weight: 400;
padding-bottom:20px;
}
main{
    max-width: 1140px;
 margin:  auto;
 padding-top: 100px;

}
/* about section */
.about{
   padding: 130px;
 border-radius: 10px;
background: #FFF8F3;

}
.section-title{
    color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-description{
    color: #757575;
text-align: center;
font-size: 15px;
font-weight: 400;
padding-top: 20px;
}
.about-info{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.info-title{
 color:  #757575;
text-align: center;
font-size: 17px;
font-weight: 400;
line-height: 30px; 
}
 .info-des{
    color: #474747;
font-size: 16px;

font-weight: 700;
line-height: 30px;
}
.what{
    padding-top: 100px;
    padding-bottom: 100px;
}
#what-i-do{
    padding: 30px 150px;
}
.skill-part{
    display: flex;

}
.skill{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
width: 267px;
height: 250px;
margin: 20px;
}
.skill img{
width: 44px;
height: 44px;
padding-bottom:18px;
}
.skill-title{
    color: #181818;
font-size: 17px;
font-weight: 700;
padding-bottom: 20px;

}
.skill-des{
    color: #757575;
    font-size: 14px;
    font-weight: 400;
  
}
.summary-container{
    display: flex;
   
}
.summary-title{
color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
padding-bottom: 70px;

}
.left-summary{
    padding-left: 20px;
}
.left-summary h1{
    color:  #474747;
font-size: 30px;
font-weight: 700;
padding-bottom: 20px;
}
.right-summary h1{
    color:  #474747;
    font-size: 30px;
    font-weight: 700; 
    padding-bottom: 20px; 
}
.msc h3{
    color: #686464;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
   
   
}
.msc h5{
    color:  #757575;
    font-size: 15px;
   font-weight: 600;
   padding-bottom: 5px;
   
}
.msc p{
    color:  #989797;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 15px;
    
}
.download{
   
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center;
    padding-top:  40px;
}
hr{
    border: 1px solid #ece6e6;
    width: 500px;
}